body {
  font-family: "Avenir Next";
}

h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.header {
  text-align: center;
  padding: 0px;
  display: block;
  margin-top: 60px;
}

.home-image {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 80px;
}

.nav {
  width: auto;
  height: 70px;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
  margin-bottom: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.nav-list {
  list-style-type: none;
  display: inline-block;
  margin: auto;
  padding: 0px;
}

.nav-item {
  display: inline-block;
  margin: 30px;
}

.nav-link:link {
  color: black;
  text-decoration: none;
}

.nav-link:visited {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: #d6d6d6;
  text-decoration: none;
}

.social-media-link:link {
  color: black;
  text-decoration: none;
}

.social-media-link:visited {
  color: black;
  text-decoration: none;
}

.social-media-link:hover {
  color: black;
  text-decoration: none;
}

.image-portfolio {
  width: 500px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;

}

.image-about {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  float: left;
  display: flex;
  justify-content: flex-start;
  z-index: -1;
}

.image-contact {
  position: absolute;
  width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  float: right;
  margin-left: 900px;
  margin-bottom: 20px;
}

.section {
  width: 600px;
  font-size: 20px;
  text-align: left;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.portfolio {
  height:auto;
  width:auto;
}

.about {
  height: 100%;
  width: 100%;
}

.contact {
  height: 100%;
  width: 100%;
}

.footer {
  text-align: center;
  padding: 0px;
  display: block;
  bottom: 0;
  font-size: 16px;
  text-align: center;
  width: auto;
  height: 150px;
  margin-top: 120px;
  background-color: #d6d6d6;
}

.imprint {
  margin-bottom: 125px;
}

.social-media {
  display: inline-block;
  float: left;
}

.instagram-icon {
  width: 30px;
  height: 30px;
  display: inline-block;;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 110px;
}

.tumblr-icon {
  width: 30px;
  height: 30px;
  display: inline-block;;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 110px;
}

.twitter-icon {
  width: 30px;
  height: 30px;
  display: inline-block;;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 110px;
}
